==$PKG_VERSION
Babel==2.11.0
Deprecated==1.2.13
EDFlib-Python==1.0.6
Flask-Cors==4.0.1
Flask==2.3.3
GitPython==3.1.37
GitPython==3.1.43
Jinja2==3.1.2
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.1
Pillow==9.4.0
PyJWT==2.8.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyQt5-Qt5==5.15.2
PyQt5==5.15.11
PyQt5_sip==12.15.0
PySide2==5.15.2.1
PySocks==1.7.1
PyWavelets==1.4.1
PyYAML==6.0
Pygments==2.11.2
QDarkStyle==3.1
QtPy==2.2.0
SQLAlchemy==2.0.21
Send2Trash==1.8.2
Send2Trash==1.8.3
SimpleITK==2.1.1
Werkzeug==3.0.0
absl-py==2.0.0
alembic==1.12.0
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
amqp==5.2.0
annotated-types==0.7.0
anyio==3.5.0
appdirs==1.4.4
apptools==5.2.1
argon2-cffi==20.1.0
arrow==1.3.0
asttokens==2.0.5
async-lru==2.0.4
attrs==23.2.0
autopep8==2.3.1
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
black==24.10.0
bleach==4.1.0
blinker==1.6.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.3.1
calmap==0.0.11
celery==5.4.0
certifi==2024.6.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.0.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click==8.1.3
cloudpickle==2.2.1
cntext==1.9.0
colorama==0.4.6
colorlog==6.8.2
colorspacious==1.1.2
comm==0.1.2
configobj==5.0.8
contourpy==1.0.5
coqpit==0.0.17
crcmod==1.7
cryptography==39.0.1
cycler==0.11.0
cytoolz==0.12.0
darkdetect==0.8.0
dask==2023.4.1
databricks-cli==0.17.8
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dipy==1.7.0
distro==1.9.0
docker-pycreds==0.4.0
docker==6.1.3
eeglabio==0.0.2.post3
entrypoints==0.4
envisage==7.0.3
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.9.0
fire==0.6.0
flit_core==3.8.0
fonttools==4.25.0
fqdn==1.5.1
fsspec==2024.6.1
future==0.18.3
gensim==4.3.2
gitdb==4.0.10
gitdb==4.0.11
google-auth-oauthlib==1.1.0
google-auth==2.23.3
graphviz==0.12
greenlet==3.0.0
grpcio==1.59.0
h11==0.14.0
h5io==0.1.7
h5py==3.7.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.23.4
icon-font-to-png==0.4.1
idna==3.4
imagecodecs==2021.8.26
imageio-ffmpeg==0.4.8
imageio==2.28.0
importlib-metadata==6.6.0
importlib_resources==6.4.0
ipycanvas==0.13.1
ipyevents==2.0.1
ipykernel==6.19.2
ipython-genutils==0.2.0
ipython==8.12.0
ipyvtklink==0.2.3
ipywidgets==7.6.5
isoduration==20.11.0
itk-core==5.3.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
itk==5.3.0
itsdangerous==2.1.2
jedi==0.18.1
jieba==0.42.1
jmespath==0.10.0
joblib==1.1.1
json5==0.9.6
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jsonschema==4.22.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-events==0.9.1
jupyter-lsp==2.2.4
jupyter==1.0.0
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter_server==2.10.0
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab-widgets==3.0.5
jupyterlab==3.5.0
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_server==2.27.2
keyboard==0.13.5
kiwisolver==1.4.4
kombu==5.3.7
lazy_loader==0.2
llvmlite==0.39.1
locket==1.0.0
loguru==0.7.0
lxml==4.9.2
markdown-it-py==2.2.0
matplotlib-inline==0.1.6
matplotlib==3.7.1
mayavi==4.8.1
mdurl==0.1.2
memory-profiler==0.61.0
metaimageio==1.2.2
mffpy==0.8.0
mistune==0.8.4
mistune==3.0.2
mittens==0.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlflow==2.7.1
mne-qt-browser==0.0.0
mne==1.0.3
mock==5.0.2
monai==1.2.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==1.0.0
nbclassic==0.5.5
nbclient==0.10.0
nbclient==0.5.13
nbconvert==6.4.5
nbconvert==7.16.2
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.4
nibabel==5.1.0
nilearn==0.10.0
nltk==3.8.1
notebook==6.5.4
notebook==6.5.4
notebook==7.1.2
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
openai==1.35.13
openpyxl==3.1.4
oss2==2.18.6
overrides==7.7.0
packaging==23.0
palettable==3.3.3
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathspec==0.12.1
pathtools==0.1.2
patsy==0.5.3
pdfdocx==1.7
pickleshare==0.7.5
pip==23.0.1
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
ply==3.11
pooch==1.7.0
prettytable==3.10.2
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyOpenSSL==23.0.0
pyarrow==13.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycodestyle==2.12.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pyecharts==2.0.6
pyface==8.0.0
pyglet==2.0.7
pymatreader==0.0.30
pyparsing==3.0.9
pyqtgraph==0.13.3
pyrsistent==0.18.0
python-dateutil==2.8.2
python-docx==1.1.2
python-json-logger==2.0.7
python-picard==0.7
pytz==2022.7
pyvista==0.38.5
pyvistaqt==0.0.0
pywin32==305.1
pywinpty==2.0.10
pyzmq==24.0.1
pyzmq==25.1.2
qtconsole==5.4.2
querystring-parser==1.2.4
referencing==0.34.0
referencing==0.35.1
regex==2024.5.15
requests-oauthlib==1.3.1
requests==2.31.0
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.2.0
rpds-py==0.18.0
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.3
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.3
scooby==0.7.1
seaborn==0.12.2
sentry-sdk==2.4.0
setproctitle==1.3.3
setuptools==66.0.0
shiboken2==5.15.2.1
simplejson==3.19.2
sip==6.6.2
six==1.16.0
smart-open==7.0.4
smmap==5.0.0
smmap==5.0.1
sniffio==1.2.0
soundfile==0.12.1
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.2.0
stats==0.1.2a0
statsmodels==0.13.5
stylecloud==0.5.2
sympy==1.11.1
tables==3.7.0
tabulate==0.9.0
tensorboard-data-server==0.7.1
tensorboard==2.15.0
tensorboardX==2.6.2.2
termcolor==2.4.0
terminado==0.17.1
testpath==0.6.0
threadpoolctl==2.2.0
tifffile==2021.4.8
tinycss2==1.2.1
tinycss==0.4
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tornado==6.2
tqdm==4.65.0
trainer==0.0.36
traitlets==5.7.1
traits==6.4.3
traitsui==8.0.0
transformers==4.42.4
types-python-dateutil==2.9.0.20240316
typing-utils==0.1.0
typing_extensions==4.12.2
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.15
vanilla-roll==0.3.0
vine==5.1.0
waitress==2.1.2
wandb==0.16.5
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.38.4
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win32-setctime==1.1.0
wordcloud==1.9.3
wrapt==1.15.0
xlrd==2.0.1
xmltodict==0.13.0
yapf==0.40.2
zhipuai==2.1.1.20240620.1
zipp==3.15.0